<div id="browser_title" class="browser_style">Operator</div>
<div id="browser_head" class="browser_style">

    <div id="browser_menu_region"></div>

</div>

<div id="site_content_region" class="browser_style"></div>

