<div id="ads_and_workers">
    <div id=ads>
        <div id=ads_title class="ads">NEW AD Rate (USD)</div>
        <div id="ads_number" class="ads"></div>
        <button type="button" class="btn ads">BUY ADS</button>
    </div>

    <div id=workers>
        <div id="worker_title" class="workers">Workers</div>
        <div id="workers_number" class="workers"></div>
    </div>
</div>