<div id="ent_header" class="ent_style">
    <div id=ent_title class=ent_style>UBC Entrepreneur</div>
    <div id="ent_menu">
        <div id="ent_menu_overview" class="ent_menu">Overview</div>
        <div id="ent_menu_purchase" class="ent_menu">Purchase</div>
        <div id="ent_menu_manage" class="ent_menu">Manage</div>
    </div>
</div>

<div id="ad_container"></div>

<div id=ent_holding_container></div>

