<div id="overview_flowchart_div">

    <div class="flow_box">Discover and Purchase New Businesses</div>
    <div class="flow_box">Advertise and Find Online Workers to Staff Your Businesses</div>
    <div class="flow_box">Create Things and Earn Profits</div>

</div>