<div class="holding_container">
    <div class="holding_content">
        <div class="holding_name">{{name}}</div>
        <div class="holding_blurb">{{blurb}}</div>
        <div class="holding_cost">{{cost_list}}</div>
    </div>
    <div class="buy_holding">
        <div class="buy_holding_btn">BUY</div>
    </div>
</div>