
<div id=inventory><div id=region1></div><div id=tools></div></div>

<div id="panels">
    <div id=money_panel>
        <div id="btc_box" class="inventory_box"></div><div id="usd_box" class="inventory_box"></div><div id="price_box" class="inventory_box"></div>
    </div>
    <div id=control_panel>
        <div id="ent_but_box" class="cntrl_box"></div>
        <div id="crypt_btn_box" class="cntrl_box"></div>
        <div id="bit_btn_box" class="cntrl_box"></div>
        <div id="terminal_btn_box" class="cntrl_box"><div class=control_icons><i class="fa fa-terminal"></i></div></div>
        <div id="home_btn_box" class="cntrl_box"><div class=control_icons><i class="fa fa-home"></i></div></div>
    </div>
</div>

<div id=rainmeter><img id=rainmeter_image src="../../../images/lights2.jpeg">

    <div id="os_label">
        <div id="os_text1">Cryptonite</div>
        <div id="os_text2">OS</div>
    </div>

    <div id=activity></div>

    <div id="feed">
        <div id=feed_header><i class="fa fa-twitter"></i><div class=feed_title id=feed_title1>@el_colonel</div></div>
        <div id=feed_content><div id=notifyGradient></div></div>
    </div>



    </div>

</div>



