
<div id="game_wrapper">

<div id=inventory></div>

<div id="panels"><div id=money_panel></div><div id="inventory_menu"></div><div id=control_panel></div></div>

<div id=rainmeter><img id=rainmeter_image src="../../../images/lights2.jpeg">

    <div id=activity></div>

    <div id="feed"></div>

</div>

</div>

