<div id="region1g" class="inventory_box"></div><div id="region2g" class="inventory_box"></div><div id="region3g" class="inventory_box"></div>
<div id="region1f" class="inventory_box"></div><div id="region2f" class="inventory_box"></div><div id="region3f" class="inventory_box"></div>
<div id="region1e" class="inventory_box"></div><div id="region2e" class="inventory_box"></div><div id="region3e" class="inventory_box"></div>
<div id="region1d" class="inventory_box"></div><div id="region2d" class="inventory_box"></div><div id="region3d" class="inventory_box"></div>
<div id="region1c" class="inventory_box"></div><div id="region2c" class="inventory_box"></div><div id="region3c" class="inventory_box"></div>
<div id="region1b" class="inventory_box"></div><div id="region2b" class="inventory_box"></div><div id="region3b" class="inventory_box"></div>
<div id="region1a" class="inventory_box"></div><div id="region2a" class="inventory_box"></div><div id="region3a" class="inventory_box"></div>