<div id="sub_site_title">UBC/Subscription</div>

<div id="sub_site_header">

    <div class="sub_site_header_col">

        <div id="sub_site_header_graphic"><i class="fa fa-laptop"></i></div>

    </div>

    <div class="sub_site_header_col">
        <div id="sub_site_product_title">Ghost Remote Client</div>
        <div id="sub_site_product_description">Free trial includes</div>
        <ul id="sub_site_trial_list">
            <li>Full version of CryptoniteOS</li>
            <li>Access to Mining software through terminal</li>
            <li>Operator onion router for browsing the Outernet</li>
        </ul>
        <div id="buy_subscription_div">
            <div id="subscription_button">Buy Now</div>
            <div id="subscription_cost">10 trc/mo.</div>
        </div>
    </div>

</div>

<div id="sub_site_tag">Full subscription features</div>

<div id="free_plan" class="plan_div">
    <div class="sub_programs">
        <div class="sub_programs_title"><i class="fa fa-lock"></i><div class="sub_programs_title_words">CryptoniteOS</div></div>
        <div class="sub_programs_description">
            All remote workstations are powered by our proprietary Cryptonite Operating System.  Unparalleled layers of encryption
            and a completely unique OS architecture ensure you are safe from any would-be attackers.
        </div>
    </div>
    <div class="sub_programs">
        <div class="sub_programs_title"><i class="fa fa-bitcoin"></i><div class="sub_programs_title_words">Mine-It</div></div>
        <div class="sub_programs_description">
            Cryptocurrency mining software and a wallet API are built right in to UBC's custom operating system.  It supports many
            different protocols including bitcoin (BTC), dogecoin (DOGE), evercoin (EVC) and trucoin (TRC).
        </div>
    </div>

    <div class="sub_programs">
        <div class="sub_programs_title"><i class="fa fa-opera"></i><div class="sub_programs_title_words">Operator</div></div>
        <div class="sub_programs_description">
            Operator is an onion routing browser for efficiently finding and interfacing with blogs, vendors and other sites
            on the deep web.
        </div>
    </div>
</div>



<div id="pro_plan" class="plan_div">
    <div class="sub_programs">
        <div class="sub_programs_title"><i class="fa fa-line-chart"></i><div class="sub_programs_title_words">Trading Floor</div></div>
        <div class="sub_programs_description">
            Trading Floor is designed to make buying and selling currencies hassle free.
        </div>
    </div>

    <div class="sub_programs">
        <div class="sub_programs_title"><i class="fa fa-lightbulb-o"></i><div class="sub_programs_title_words">Entrepreneur</div></div>
        <div class="sub_programs_description">
            Entrepreneur makes it possible to find and acquire businesses of all kinds.
            Our easy to use interface makes managing your companies remotely a breeze.
        </div>
    </div>

    <div class="sub_programs">
        <div class="sub_programs_title"><i class="fa fa-cloud-download"></i><div class="sub_programs_title_words">Cloud Services</div></div>
        <div class="sub_programs_description">
            Your local machine can only do so much.  That's why we offer Cloud Services, your one stop shop for
            adding servers to scale up your businesses.  Cloud computing has never been this easy.
        </div>
    </div>



</div>