<div id=terminal_div>
    <div id=terminal_head>user137 - bash</div>
    <div id=terminal_body>
        <div id=terminal_display>Last login: Sun Sep 20 00:40:14 on ttys000 </div>
        <div id=terminal_input></div><div id=command_line_user>user137$</div>
        <form id=form_command autocomplete="off">
            <input type="text" name="command" id="user_input">
            <input type="submit" value="Submit" id="console_submit">
            </form>
    </div>
</div>


