<div id="trading_floor_title">UBC Trading Floor</div>

<div id="transact_div">

    <div class="switch">
        <input id="cmn-toggle-7" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
        <label for="cmn-toggle-7" data-on="BUY" data-off="SELL"></label>
    </div>

    <div id=btc_input_div><div id=btc_input_icon>{{coin_type}}</div>
        <input type="text" name="btc_amt" id="btc_amt" class="transact_btc" placeholder="0" style="border:none;">
    </div>


    <div class=conversion_rate><div id="at_div">at</div><div id=usd_value>0</div><p>USD</p></div>

    <div id=trade_submit_btn class="btn_my transact_btc">Order</div>

</div>

<div id=price_chart class="with-3d-shadow with-transitions"><svg></svg></div>