<div id="welcome_post">
    <div id="welcome_title">WELCOME TO YOUR FREE TRIAL!</div>
    <div id="welcome_content"><p>We at Ukranian Business Community are excited to have you as a prospective customer.
        Our Ghost Remote Client provides unparalleled security, anonymity and freedom in accessing the Outernet.
        Go ahead, give Ghost Remote Client a test drive today and we are confident you will choose to purchase a subscription. </p>
        <p class="fine_print">TERMS AND CONDITIONS: The end user understands that accessing the Outernet without pre-approval from the Department of
        Cyber Security is illegal under the Digital Transparency Act (DTA).  By clicking on 'Start Your Trial' the user hereby
        accepts full responsibility for obtaining the proper pre-approval prior to accessing the Outernet.  UBC is hereby absolved
        of any legal responsibility for actions taken by users that may be in violation of the DTA. </p>
    </div>
    <div id="start_trial_btn">Start Your Trial</div>
</div>
