
/*INVENTORY STYLES*/

#inventory {

    position:relative;
    height:265px;
    width:920px;

}


#region1{

    position:relative;
    height:265px;
    width:458px;
    float:left;

}

.inventory_box{

    float:left;
    color:white;
    height:30px;
    width:144px;
    margin-left:8px;
    margin-top:7px;
    font-size:16px;

}

/*.............RESOURCE SPECIFIC*/


#resources_div{

    position:relative;
    height:265px;
    width:458px;
    float:left;

}

.active_resource {

    background-color: rgb(250, 69, 76);
    height:30px;
    width:144px;
    border:1px solid white;


}

.resource_name{

    position:relative;
    float:left;
    padding:5px;
    border-right:1px solid white;

}

.resource_value{

    position:relative;
    float:right;
    padding:5px;

}


/*.............TOOL SPECIFIC*/

#tools{

    position:relative;
    height:265px;
    width:458px;
    float:left;

}








/*MONEY PANEL STYLES*/

#money_panel {

    position:relative;
    height:35px;
    width:605px;
    float:left;
    margin-left: 8px;
    /*border:1px solid white;*/


}

.currency_box{

    float:left;
    color:white;
    height:25px;
    width:144px;
    margin-left:8px;
    margin-top:7px;
    font-size:16px;
    margin-bottom:4px;

}

.active_currency{

    background-color: #4488c0;
    height:23px;
    width:144px;
    border:1px solid white;


}


.currency_name{

    text-align:center;
    position:relative;
    padding-left: 5px;
    padding-right: 5px;
    border-right:1px solid white;
    float:left;
    margin-bottom: 4px;


}

.currency_value {

    text-align:right;
    position:relative;
    padding-right: 5px;
    float:right;
    margin-bottom: 4px;


}




/*CONTROL PANEL STYLES*/

#control_panel{

    position:relative;
    height:35px;
    width:305px;
    float:left;

}
.cntrl_box {

    position:relative;
    height:inherit;
    width:50px;
    float:left;
    align-content: center;
    /*border:1px solid white;*/

}

.control_icons {

    /*width:50px;*/
    /*text-align: center;*/
    /*float:right;*/
    margin-left:10px;
    color: #dee0e3;
    font-size: 25px;
    cursor: pointer;

}

.cntrl_suite{

    margin-bottom: 10px;

}



/*RAINMETER STYLES*/

#rainmeter{

    position:relative;
    float:left;
    height:420px;
    width:920px;
    border: 3px solid rgb(254, 254, 254);

}

#rainmeter_image{

    position:absolute;
    object-fit: cover;
    height:413px;
    width:912px;

}


#os_label{

    margin-top:80px;
    position:absolute;
    width:200px;
    font-family: 'Raleway', sans-serif;
}

#os_text1 {

    display:inline;
    margin-left:20px;
    font-size: 25px;
    width:100px;
    float:left;
    color: #4488c0;

}

#os_text2{

    display:inline;
    margin-left:20px;
    font-size:25px;
    width:40px;
    float:left;
    color: #bccbf9;

}


#os_serial{

    top:110px;
    margin-left:20px;
    position:absolute;
    min-height:20px;
    /*color:white;*/
    /*position:absolute;*/
    width:500px;
    /*font-size:15px;*/
    /*font-family: 'Raleway',sans-serif;*/
}


.os_serial{

   background-color:white;
   min-height:20px;
   min-width:10px;

}


#os_serial1{

    position:absolute;
    left:0;

}


#os_serial2{

    position:absolute;
    left:38px;

}


#os_serial3{

    position:absolute;
    left:78px;

}


#os_serial4{

    position:absolute;
    left:105px;

}


#os_serial5{

    position:absolute;
    left:140px;

}


#os_serial6{

    position:absolute;
    left:185px;

}

#os_serial7{

    position:absolute;
    left:210px;

}

#os_serial8{

    position:absolute;
    left:278px;

}

/*ACTIVITY STYLES*/

#activity{

    position:relative;
    float:left;
    height:420px;
    width:608px;
    /*font-family: 'Raleway', sans-sarif;*/
    font-weight: 100;
}



/*FEED STYLES*/

#feed{

    position:relative;
    float:left;
    width:304px;
    height:414px;
    background-color: rgba(37, 37, 37, 0.70);
    font-family: 'Open Sans', sans-serif;
    border-left:1px solid lightgrey;

}



#feed_header {

    font-size:18px;
    color:white;
    height:40px;
    padding-left:15px;
    padding-top:8px;


}

.fa-twitter{

    font-size:24px;
    color: #fefefe;
    position:relative;
    float:left;
    width:30px;

}


#feed_title1{

    position:relative;
    float:left;
    width:70px;
    height:30px;
    font-weight: 100;
    margin-left:15px;
    color: #838383;


}



#feed_content {

    font-size:14px;
    color: #fefefe;
    margin-top:10px;
    margin-left: 15px;
    overflow: hidden;

}

.handle {

    display:inline;
    color: #dadada;

}

.tweet_content {

    display:inline;


}

.notification {

    margin-bottom: 10px;
    min-height:0px;
    border-bottom:1px solid white;

}

#notifyGradient {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    /*background-color: white;*/
    /*background: -webkit-linear-gradient(*/
    /*rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%*/
    /*);*/
    /*background: linear-gradient(*/
    /*rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%*/
    /*);*/
    /*filter: alpha(*/
    /*Opacity=0, FinishOpacity=100, Style=1, StartX=0, StartY=0, FinishX=0, FinishY=500*/
    /*);*/
}


/*MISC STYLES*/

#welcome_post{

    background-color:white;
    height:415px;
    width:608px;
    border:6px solid mediumpurple;
    padding-top:50px;

}

#welcome_title{

    text-align:center;
    color:mediumpurple;
    font-weight:bold;

}

#welcome_content{

    margin-top:30px;
    padding-left:20px;
    padding-right:20px;
    color:mediumpurple;

}

#start_trial_btn{

    margin-top:50px;
    width:110px;
    text-align: center;
    background-color:mediumpurple;
    color:white;
    margin-right:auto;
    margin-left:auto;
    cursor:pointer;


}

.fine_print{

    font-size:8px;
    color:grey;

}