
/*TERMINAL STYLES*/


#terminal_div{

    position:absolute;
    top:5px;
    left:5px;
    height:400px;
    width:600px;
    font-family: sans-serif;

}


#terminal_head{

    height:25px;
    background-color:rgb(209, 209, 209);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:darkslategrey;
    text-align: center;

}

#terminal_body{

    background-color: #424345;
    color:white;
    border:2px solid rgb(209, 209, 209);
    height:375px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}


#terminal_display{

    height:325px;
    padding-left:10px;

}

p.console_display_line{

    margin-bottom:0px;

}


#terminal_input{

    /*font-family: sans-serif;*/
    /*font-size: 18px;*/

}



input:-webkit-autofill { -webkit-box-shadow:0 0 0 500px white inset; }

#command_line_user{

    margin-top:2px;
    margin-right:5px;
    position:relative;
    float:left;
    padding-left:10px;



}

input[type="text"] {
    display: block;
    margin: 0;
    width: 50%;
    /*font-family: sans-serif;*/
    /*font-size: 12px;*/
    appearance: none;
    border:0;
    box-shadow: none;
    border-radius: none;
    float:left;


}

#user_input{
    background-color: #424345;
}

input[type="text"]:focus {
    outline-width: 0;
}





/*BROWSER STYLES*/

#browser_div{

    font-family: "Maven Pro", sans-serif;
    position:absolute;
    top:5px;
    left:5px;
    background-color: #d8d8d8;
    height:400px;
    width:600px;
    border: 2px solid white;
    /*border-radius:20px;*/


}


.browser_style{

    /*color:white;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;


}

#browser_title {

    margin-left: 20px;
    color: #2e3032;
    margin-top:10px;

}


#browser_head {

    height:50px;


}

#site_address {
    margin-top:15px;
    margin-left:15px;
    position:relative;
    float:left;
    width:400px;

}

.bookmark_container{

    width:200px;

}


#site_address_input{

    height:20px;
    width:400px;
    font-size:12px;

}

#site_menu{

    position:relative;
    float:left;
    width:100px;
    height:20px;
    margin-top:12px;

}

.site_menu {

    color:grey;
    font-size:15px;
    display:inline;
    margin-left:20px;
    cursor: pointer;


}


.site_menu:hover {

    color:white;

}

#site_content_region{

    position:relative;
    width:598px;
    height:306px;
    background-color:white;
    border: 1px solid white;
    overflow-y: auto;


}

/* BROWSER: SUBCRIPTION PAGE STYLES */



#sub_site_title{

    font-size:30px;
    margin-top:10px;
    text-align: center;

}

.plan_div{

    width:250px;
    position:relative;
    float:left;
    margin-left:30px;



}



.sub_tiers{

    position:relative;
    background-color: #2e3032;
    color:white;
    width:250px;
    height:80px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow:auto;

}

.plan_titles {

    font-size:20px;
    margin:10px;

}

.plan_prices {

    margin:10px;
    color: #868d94;

}

#buy_subscription_div{

   height:50px;
   margin-top:20px;

}

#subscription_button{

    margin-left:auto;
    margin-right:auto;
    height:30px;
    width:200px;
    background: #3458df;
    color:white;
    text-align:center;
    padding-top: 5px;
    border-radius: 5px;
    cursor:pointer;

}

#subscription_button:hover{

    color:grey;

}

.sub_programs{

    padding-top:10px;
    /*border:1px solid #aaaaaa;*/
    background-color: rgba(213, 213, 213, 0.56);
    border-bottom: 1px solid grey;
    padding-bottom:5px;

}

.sub_programs_title{

    font-size:20px;

}

.sub_programs_title_words{

    padding-left:5px;
    margin-right:10px;
    float:left;
    font-size:20px;

}

.sub_programs_description{

    font-size:12px;
    padding-left:5px;
    padding-right:5px;

}
