
/*TERMINAL STYLES*/


#terminal_div{

    position:absolute;
    top:5px;
    left:5px;
    height:400px;
    width:600px;
    font-family: "Source Code Pro", sans-serif;
    font-size:13px;

}


#terminal_head{

    height:25px;
    background-color:rgb(209, 209, 209);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:darkslategrey;
    text-align: center;
    padding-top:5px;

}

#terminal_body{

    background-color: #272727;
    color:white;
    border:2px solid rgb(209, 209, 209);
    height:375px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}


#terminal_display{

    height:325px;
    padding-left:10px;

}

p.console_display_line{

    margin-bottom:0;

}


#terminal_input{

    /*font-family: sans-serif;*/
    /*font-size: 18px;*/

}



input:-webkit-autofill { -webkit-box-shadow:0 0 0 500px white inset; }

#command_line_user{

    margin-top:2px;
    margin-right:5px;
    position:relative;
    float:left;
    padding-left:10px;



}

input[type="text"] {
    display: block;
    margin: 0;
    width: 50%;
    appearance: none;
    border:0;
    box-shadow: none;
    /*border-radius: none;*/
    float:left;


}

#user_input{
    background-color: #272727;
}

input[type="text"]:focus {
    outline-width: 0;
}





/*BROWSER STYLES*/

#browser_div{

    font-family: "Maven Pro", sans-serif;
    position:absolute;
    top:5px;
    left:5px;
    background-color: #d8d8d8;
    height:400px;
    width:600px;
    border: 2px solid white;
    /*border-radius:20px;*/


}


.browser_style{

    /*color:white;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;


}

#browser_title {

    margin-left: 20px;
    color: #2e3032;
    margin-top:10px;

}


#browser_head {

    height:50px;


}

#site_address {
    margin-top:15px;
    margin-left:15px;
    position:relative;
    float:left;
    width:400px;

}

.bookmark_container{

    width:200px;

}


#site_address_input{

    height:20px;
    width:400px;
    font-size:12px;

}

#site_menu{

    position:relative;
    float:left;
    width:100px;
    height:20px;
    margin-top:12px;

}

.site_menu {

    color:grey;
    font-size:15px;
    display:inline;
    margin-left:20px;
    cursor: pointer;


}


.site_menu:hover {

    color:white;

}

#site_content_region{

    position:relative;
    width:598px;
    height:306px;
    background-color:white;
    border: 1px solid white;
    overflow-y: auto;


}

/* BROWSER: SUBSCRIPTION PAGE STYLES */

.subscription_site_div{

    font-family: 'Quattrocento Sans', sans-serif;

}



#sub_site_title{

    color:white;
    background-color: #2e3032;
    font-size:15px;
    height:22px;
    text-align: left;
    padding-left:10px;

}

#sub_site_header{

    height:180px;




}

.sub_site_header_col{

    width:270px;
    float:left;
    padding-left:15px;


}



#sub_site_product_title{

    font-size:20px;
    width:250px;
    text-align: left;
    margin-top:10px;
    margin-left:30px;

}

#sub_site_product_description{

    margin-left:30px;
    font-size: 15px;
    color:grey;

}

#sub_site_trial_list{

    font-size:10px;
    color:grey;
    margin-left:5px;

}

#sub_site_header_graphic{

    width:200px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;

}

.fa-laptop{

    font-size:160px;
    color: #ff5c0a;


}


#sub_site_tag{

    text-align: center;
    color:grey;
    font-size:20px;
    margin-bottom: 15px;

}

.plan_div{

    width:250px;
    position:relative;
    float:left;
    margin-left:30px;



}


.sub_programs{

    position:relative;
    background-color: #2e3032;
    color:white;
    width:250px;
    height:150px;
    padding-top: 10px;
    padding-left:5px;
    border-radius: 10px;
    margin-bottom:10px;
    overflow:auto;

}

.plan_titles {

    font-size:20px;
    margin:10px;

}

.plan_prices {

    margin:10px;
    color: #868d94;

}

#buy_subscription_div{

   height:40px;
   margin-top:20px;
    margin-left:30px;

}

#subscription_button{

    height:30px;
    width:120px;
    background: #0d9807;
    color:white;
    text-align:center;
    padding-top: 5px;
    /*border-radius: 5px;*/
    cursor:pointer;
    float:left;

}

#subscription_button:hover{

    color:grey;

}

#subscription_cost{

    color:grey;
    /*border:1px solid #b4b4b4;*/
    float:left;
    margin-left:10px;
    margin-top:5px;

}

/*.sub_programs{*/

    /*padding-top:10px;*/
    /*!*border:1px solid #aaaaaa;*!*/
    /*background-color: rgba(213, 213, 213, 0.56);*/
    /*border-bottom: 1px solid grey;*/
    /*padding-bottom:5px;*/

/*}*/

.sub_programs_title{

    font-size:20px;

}

.sub_programs_title_words{

    padding-left:5px;
    margin-right:10px;
    float:left;
    font-size:20px;

}

.sub_programs_description{

    font-size:12px;
    padding-left:5px;
    padding-right:5px;

}


/*TRADING FLOOR STYLES*/

.trading_div {
    position:absolute;
    top:5px;
    left:5px;
    /*background-color: #c3d4df;*/
    background-color: #fb7a33;
    height:400px;
    width:600px;
    border: 2px solid white;
}

#trading_floor_title{

    margin-left:10px;
    height:30px;
    font-size:30px;
    color: #fac3a5;


}

#transact_div {

    height:50px;
    font-size:15px;
    margin-top:20px;


}

.switch{

    position:relative;
    float:left;
    margin-left:10px;

}

#btc_input_div{

    /*background-color:white;*/
    border: 1px solid #646464;
    min-height:35px;
    width:170px;
    position:relative;
    float:left;
    background-color: white;


}

#btc_input_icon {

    background-color: #cacaca;
    text-align:center;
    width:32px;
    font-size:12px;
    border-radius: 3px;
    padding: 5px 5px 2px 2px;
    position:relative;
    float:left;
    margin-left:3px;
    margin-top:3px;

}




#btc_amt{


    margin-top:5px;
    margin-left:5px;
    width:110px;
    font-size:15px;
    color:grey;
    position:relative;
    float:left;
    display:inline;



}

#btc_amt:focus{

    outline: none;

}

.conversion_rate{

    color: #000000;
    font-size:18px;
    margin-top:5px;
    display:inline;
    position:relative;
    float:left;
    margin-left:10px;

}

#at_div{

    position:relative;
    float:left;
    margin-left:10px;

}

.conversion_rate p {

    display: inline;
    /*margin-left:10px;*/


}

#usd_value{

    position:relative;
    float:left;
    display:inline;
    color: #000000;
    font-weight: bold;
    min-width: 5px;
    margin-left:10px;
    margin-right:10px;

}

#money_amt{

    width:100px;
    margin-top:15px;
    font-size:15px;
}

#trade_submit_btn{

    position:relative;
    float:right;
    font-size:18px;
    width:80px;
    padding: 5px 10px 5px 10px;
    margin-right:15px;
    color:white;
    border:1px solid white;
    cursor:pointer;

}


#trade_submit_btn:hover{

    background-color: white;
    color:#c3d4df;

}


/* Entrepreneur Stuff */

#ent_div{

    position:absolute;
    top:5px;
    left:5px;
    background-color: #3458df;
    height:400px;
    width:600px;
    border: 2px solid white;



}

#ent_header{

    height:75px;
    border: 1px solid black;


}

.ent_style{

    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;


}

#ent_title {

    font-size: 30px;
    margin-left: 20px;
    position:relative;
    float:left;
    display:inline;

}



#mycomps{


    /*background-color: white;*/
    /*width:500px;*/
    /*height:30px;*/

}

#compsales{

//background-color: red;

}


#ads{

    /*width:350px;*/
    /*float:left;*/
    text-align:center;


}

.ads{

    display:inline;
    padding-left: 10px;
    padding-right: 10px;


}

#workers{


    width:200px;
    float:left;
}

.workers{

    display:inline;
    margin-right:10px;

}

#mycomps_div{

    width:350px;
    margin-top:20px;
    padding-left:115px;
    padding-right:20px;

}

#myoccupations_div{

    width:200px;

    margin-top:20px;

}

#holding_content{

    height:200px;
    overflow-y: auto;

}

.holding_div{

    display:block;
    height:100px;


}

.holding_container{

    font-size:10px;

    border: 1px solid white;
    padding-left: 5px;
    padding-right:5px;

}

.buy_holding{


    text-align:center;


}

.holding_title{

    display:inline;

}

.holding_blurb {

    display:inline;
    margin-left:10px;
}
