
#color_finder{

    color: #572c94;

}

body {

    /*background: url(../images/blue-bird_back.jpeg) no-repeat center top;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    width:100%;
    display:table;
    /*background-color: #198d67;*/
    background-color: #424345;
}

/*#background{*/
    /*width: 1920px;*/
    /*height: 1200px;*/
    /*background: url(../images/blue-bird_back.jpeg);*/
/*}*/

#title_circle{

    height:600px;
    width:600px;
    margin: 0 auto;
    font-size: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight:100;
}


#start_button{

    height:200px;
    width:200px;
    margin: 0 auto;
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    font-weight:100;
    cursor:pointer;

}

#game_wrapper {

    font-family: sans-serif;
    position: relative;
    width: 920px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid black;*/
}

/*#start_screen {*/

    /*font-family: sans-serif;*/
    /*position: relative;*/
    /*width: 920px;*/
    /*height: 720px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/


/*}*/

#menu {

    height:20px;
    background-color:grey;


}


#inventory {

    position:relative;
    height:265px;
    width:920px;
    /*border:1px solid black;*/

    /*border: 1px solid black;*/


}

.inventory_box {

    float:left;
    /*border: 2px solid rgb(0, 0, 0);*/
    color:white;
    height:30px;
    width:144px;
    margin-left:8px;
    margin-top:7px;
    font-size:16px;
    /*border: 1px solid black;*/


}

.on {

    /*border: 2px solid black;*/
    background-color: rgb(250, 69, 76);
    float:left;
    border:1px solid white;


}


.item_name{

    text-align:center;
    position:relative;
    padding-left: 5px;
    padding-right: 5px;
    margin-top:4px;
    border-right:1px solid white;
    float:left;


}

.item_value {

    text-align:right;
    position:relative;
    padding-right: 5px;
    margin-top:4px;
    float:right;


}



/*#inventory_graphic{*/

    /*position:absolute;*/
    /*bottom:50px;*/
    /*left:100px;*/
    /*font-size: 80px;*/

/*}*/

/*.fa-barcode{*/

    /*color:rgba(249, 178, 104, 1);*/


/*}*/

#inventory_menu{

    position:relative;
    float:left;
    min-width:466px;
    height:35px;
    /*border:1px solid black;*/

}



#network_window{

    position:absolute;
    top:5px;
    left:5px;
    width:600px;
    height:700px;
    background-color: white;


}


.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: #bbb;
}



#money_panel {

    position:relative;
    height:35px;
    width:144px;
    float:left;
    margin-left: 8px;
    height:30px;



}

.money_panel {
    background:white;
    border: 1px solid #d1d1d1;
}


.ticker{

    position:relative;
    color: black;
    font-size:12px;
    float:right;
    margin-top:0px;
    margin-left:0px;
    /*margin-right:5px;*/
    /*margin-left:5px;*/
    /*background-color:white;*/
    /*border-radius: 5px;*/
    padding-left: 5px;
    padding-right:5px;
    padding-top:7px;
    padding-bottom:3px;




}


#ticker_name{

    float:left;

}

#ticker_price {
    float:left;
}



#control_panel{

    position:relative;
    height:35px;
    width:300px;
    float:left;
    /*border: 1px solid black;*/

}

#home_screen{

    position:relative;
    float:left;
    height:420px;
    width:920px;
    /*background:url(../images/blue-bird_back.jpeg);*/
    /*object-fit: contain;*/

    border: 3px solid rgb(254, 254, 254);

}

#homescreen_image{

    position:absolute;
    object-fit: cover;
    height:413px;
    width:912px;

}


#rainmeter_div{

    position:relative;
    float:left;
    height:420px;
    width:610px;
    /*background: rgba(249, 178, 104, 1);*/
    font-family: 'Raleway', sans-sarif;
    font-weight: 100;
}

#os_text1 {


    margin-left:50px;
    font-size: 25px;
    width:100px;
    float:left;
    position:relative;
    color: #4488c0;

}

#os_text2{


    font-size:25px;
    width:40px;
    float:left;
    position:relative;
    margin-left:20px;
    color: #bccbf9;

}


#payment_widget{

    color:white;
    position:absolute;
    top:60px;
    left:20px;
    /*border: 1px solid white;*/
    padding-top:10px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:10px;
    width:200px;


}

#os_label{

    position:absolute;
    top:100px;
    left:50px;

}

.progress{

    width:80px;
    height:10px;

}

.progress-bar{

    background-color: #584d6f;

}

#payment_button{


    width:60px;
    background-color: rgba(255, 255, 255, 1);
    color: #fe3e46;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;

}

/* control window stuff */

#terminal_div{

    position:absolute;
    top:5px;
    left:5px;
    /*background-color: white;*/
    height:400px;
    width:600px;
    /*border-radius:20px;*/


}


#terminal_head{

    height:25px;
    background-color:rgb(209, 209, 209);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:darkslategrey;
    text-align: center;

}

#terminal_body{

    background-color: #424345;
    color:white;
    border:2px solid rgb(209, 209, 209);
    height:375px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


#terminal_display{

    height:325px;
    padding-left:10px;
}


/* rain meter stuff */

/*#rm_date_div{*/

    /*position:absolute;*/
    /*width:300px;*/
    /*height:100px;*/
    /*left:20px;*/
    /*top:50px;*/

/*}*/

#terminal_input{

    /*font-family: sans-serif;*/
    /*font-size: 18px;*/




}



input:-webkit-autofill { -webkit-box-shadow:0 0 0 500px white inset; }

#command_line_user{

    margin-top:2px;
    margin-right:5px;
    position:relative;
    float:left;
    padding-left:10px;



}

input[type="text"] {
    display: block;
    margin: 0;
    width: 50%;
    /*font-family: sans-serif;*/
    /*font-size: 12px;*/
    appearance: none;
    border:0;
    box-shadow: none;
    border-radius: none;
    float:left;


}

#user_input{


    background-color: #424345;
}

input[type="text"]:focus {
    outline-width: 0;
}

/* ewallet stuff */

#ewallet_div{

    position:absolute;
    top:5px;
    left:5px;
    /*background-color: #c3d4df;*/
    background-color: #fb7a33;
    height:400px;
    width:600px;
    border: 2px solid white;
    /*border-radius:20px;*/


}

#wallet_header{

    height:80px;


}

.wallet_style{

    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;


}

#wallet_title {

    margin-left: 20px;
    position:relative;
    float:left;

}

#wallet_menu {
    position:relative;
    float:right;
    margin-right:20px;
}

.wallet_menu {

    color: #ffffff;
    font-size:15px;
    display:inline;
    margin-left:20px;
    cursor: pointer;


}

.wallet_menu:hover {

    color: #628060;

}

#bitstachio_landing{

    color:white;
    text-align:center;

}

.fa_landing{

    margin-left:20px;
    marging-right:20px;

}

#mine {

    /*height:50px;*/
    width:500px;
    margin-left:auto;
    margin-right:auto;
    /*border-top: 1px solid white;*/
}

.btn_my {

    padding: 10px 20px 10px 20px;
    width:120px;
    text-align: center;
    border-radius: 5px;



}

.fa-server {

    margin-left:20px;
    margin-right:5px;
    color:white;
    font-size:30px;


}

#mine_button {

    position: relative;
    margin-left: auto;
    margin-right: auto;
    display:block;
    color:grey;
    font-size:15px;
    margin-top:25px;
    width:50px;
    cursor:pointer;



}

#mine_button:hover{

    color:white;


}


#line_div{

    margin-top:10px;
    font-size:12px;
    color: #ffffff;
    min-height: 20px;
    width:300px;
    margin-left: 150px;




}

.mine_server {

    margin-top:10px;
    font-size:12px;
    color: #ffffff;
    min-height: 20px;
    width:300px;
    margin-left: 150px;


}


#trade {

    /*height:100px;*/
    /*border-bottom: 1px solid white;*/
}

#transact_div {

    height:50px;
    font-size:15px;
    margin-top:20px;


}





.switch{

    position:relative;
    float:left;
    margin-left:10px;

}

#btc_input_div{

    /*background-color:white;*/
    border: 1px solid #646464;
    min-height:35px;
    width:170px;
    position:relative;
    float:left;
    background-color: white;


}

#btc_input_icon {

    background-color: #cacaca;
    text-align:center;
    width:32px;
    font-size:15px;
    border-radius: 3px;
    padding: 2px 2px 2px 2px;
    position:relative;
    float:left;
    margin-left:3px;
    margin-top:3px;

}




#btc_amt{


    margin-top:5px;
    margin-left:5px;
    width:110px;
    font-size:15px;
    color:grey;
    position:relative;
    float:left;
    diplay:inline;



}

#btc_amt:focus{

    outline: none;

}

.conversion_rate{

    color: #000000;
    font-size:18px;
    margin-top:5px;
    display:inline;
    position:relative;
    float:left;
    margin-left:10px;

}

#at_div{

    position:relative;
    float:left;
    margin-left:10px;

}

.conversion_rate p {

    display: inline;
    /*margin-left:10px;*/


}

#usd_value{

    position:relative;
    float:left;
    display:inline;
    color: #000000;
    font-weight: bold;
    min-width: 5px;
    margin-left:10px;
    margin-right:10px;


}

#money_amt{

    width:100px;
    margin-top:15px;
    font-size:15px;
}

#trade_submit_btn{

    position:relative;
    float:right;
    font-size:18px;
    width:80px;
    padding: 5px 10px 5px 10px;
    margin-right:15px;
    color:white;
    border:1px solid white;

}


#trade_submit_btn:hover{

    background-color: white;
    color:#c3d4df;

}


#chart {


    border:1px solid black;



}

/* Entrepreneur Stuff */

#rbn_ent_div{

    position:absolute;
    top:5px;
    left:5px;
    /*background-color: #c3d4df;*/
    background-color: #fb7a33;
    height:400px;
    width:600px;
    border: 2px solid white;
    /*border-radius:20px;*/


}

#rbn_ent_header{

   height:75px;


}

.rbn_ent_style{

    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;


}

#rbn_ent_title {

    font-size: 30px;
    margin-left: 20px;
    position:relative;
    /*text-align:center;*/
    float:left;
    display:inline;



}

#rbn_ent_menu {
    position:relative;
    float:right;
    margin-right:20px;

}

.rbn_ent_menu {

    color: #ffffff;
    font-size:15px;
    display:inline;
    margin-left:20px;
    cursor: pointer;


}

.rbn_ent_menu:hover {

    color: #628060;

}

#rbn_ent_landing{

    color:white;
    text-align:center;

}

#mycomps{


    /*background-color: white;*/
    /*width:500px;*/
    /*height:30px;*/

}

#compsales{

    //background-color: red;

}

/*.fa_landing{*/

    /*margin-left:20px;*/
    /*marging-right:20px;*/

/*}*/


#ads{

    /*width:350px;*/
    /*float:left;*/
    text-align:center;


}

.ads{

    display:inline;
    padding-left: 10px;
    padding-right: 10px;


}

#workers{


    width:200px;
    float:left;
}

.workers{

    display:inline;
    margin-right:10px;

}

#mycomps_div{

    float:left;
    width:350px;
    margin-top:20px;
    padding-left:115px;
    padding-right:20px;

}

#myoccupations_div{

    width:200px;
    float:left;
    margin-top:20px;

}

.holding_container{

    font-size:10px;
    float:left;
    border: 1px solid white;
    padding-left: 5px;
    padding-right:5px;

}

.buy_holding{

    float:left;
    text-align:center;
    margin-top:15px;

}

.holding_title{

    display:inline;

}

.holding_blurb {

    display:inline;
    margin-left:10px;
}

/*Store Stuff*/

#store_div{

    position:absolute;
    top:5px;
    left:5px;
    background-color: #d8d8d8;
    height:400px;
    width:600px;
    border: 2px solid white;
    /*border-radius:20px;*/


}


.store_style{

    /*color:white;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;


}

#store_title {

    margin-left: 20px;
    color:black;
    margin-top:10px;

}

#store_address {
    margin-top:15px;
    margin-left:15px;
    position:relative;
    float:left;
    width:400px;

}

.bookmark_container{

    width:200px;

}


#torque_address_input{

    height:20px;
    width:400px;
    font-size:12px;

}

#store_menu{

    position:relative;
    float:left;
    width:100px;
    height:20px;
    margin-top:12px;

}

.store_menu {

    color:grey;
    font-size:15px;
    display:inline;
    margin-left:20px;
    cursor: pointer;


}

#store_top{

    position:relative;
    height:80px;

}

.store_menu:hover {

    color:white;

}

#store_content_area{

    position:relative;
    width:598px;
    height:306px;
    background-color:white;

}


.item_icons{

    color:black;
    font-size:20px;
    margin-right:17px;
}

.server_name{

    border-top:1px solid #375156;
}

#ca_header{


    color:orangered;
    text-align: center;
    font-size:40px;
    align-content: center;




}

#ca_item_showcase{

    height:180px;
    font-size: 10px;
    width:180px;
    position:relative;
    float:left;
    color: #9aa8b3;
    margin-left:40px;
    margin-top:20px;
    text-align: center;
}

#ca_server_container{

    margin-left:30px;
    height:230px;
    width:335px;
    position:relative;
    float:left;

}

#fa-cloud-download {

    width:50px;


}



#ca_tag {

    font-size: 20px;
    color:grey;

}

.item_container{

    margin-top:20px;
    width:100px;
    text-align: center;
    position:relative;
    float:left;

}



.spinner_elements{

    display:inline;

}

.spinner_elements.fa{
    
    cursor: pointer;

}


.item_number{


    padding-left: 10px;
    padding-right: 10px;

}

#rm_weather_div{

    position:absolute;
    width:200px;
    height:50px;
    left:10px;
    bottom:0px;
    border: 1px solid rgba(249, 178, 104, 1);
    color:rgba(249, 178, 104, 1);
    visibility:hidden;




}

#rm_day {

    position:absolute;
    color: rgb(255, 255, 255);
    font-size: 70px;
    top:100px;
    left:70px;
    width:100px;



}

#rm_date {

    position:absolute;
    color: rgb(255, 255, 255);
    font-size: 200px;
    font-weight: 700;
    width:100px;
    bottom:25px;
    left:150px;




}

#cloud_icon{

    position:absolute;
    left:50px;
    top:10px;
    /*color:white;*/
    font-size: 80px;

}

#rm_temp{

    position:absolute;
    left:180px;

    font-size: 40px;


}


/* money panel stuff */

.money_icons{

    width:50px;
    text-align: center;
    float:left;
}

.fa-btc{

   font-size: 30px;


}

.fa-usd{

    font-size: 30px;
    color: rgba(249, 241, 255,0.8);

}

#btc_value{

    width:80px;
    text-align: right;
    float:left;

}

/*#usd_value{*/

    /*width:80px;*/
    /*text-align: right;*/
    /*float:left;*/

/*}*/

.money_values{

    font-size: 30px;
    color: rgba(208, 200, 214, 0.80);

}

/* control panel stuff*/

.control_icons {

    width:50px;
    text-align: center;
    float:right;
    color: #dee0e3;
    font-size: 30px;
    cursor: pointer;

}

.fa-home {

    font-size: 30px;
    /*color: rgb(78, 78, 78);*/


}

.fa-terminal {

    font-size: 30px;
    /*color: rgb(78, 78, 78);*/


}

.fa-university {

    font-size: 30px;
    /*color: rgb(78, 78, 78);*/


}

/* feed stuff */

#feed_div{

    position:relative;
    float:left;
    width:304px;
    height:414px;
    background-color: rgba(37, 37, 37, 0.70);
    /*border-left: 3px solid rgb(255, 255, 255);*/
    /*background-color: rgba(13, 46, 63, 0.60);*/
    font-family: 'Open Sans', sans-serif;
    border-left:1px solid lightgrey;
    /*font-family: Arial;*/


}

/*.fa-rss-square{*/

    /*font-size: 50px;*/
    /*width:60px;*/
    /*height:60px;*/
    /*float:left;*/
    /*margin-top:3px;*/
    /*margin-left:15px;*/
    /*margin-top:7px;*/
    /*color: rgb(255, 255, 255);*/


/*}*/




#feed_header {

    font-size:18px;
    color:white;
    height:40px;
    /*margin-top:10px;*/
    /*background-color: rgb(255, 255, 255);*/
    /*border: 3px solid rgb(209, 209, 209);*/
    /*border-top: 10px solid rgba(249, 178, 104, 1);*/
    /*margin-left: 10px;*/
    /*background-color:rgba(249, 178, 104, 1);*/
    padding-left:15px;
    padding-top:8px;


}

.fa-twitter{

    font-size:24px;
    color: #fefefe;
    position:relative;
    float:left;
    width:30px;

}


#feed_title1{

    position:relative;
    float:left;
    width:70px;
    height:30px;
    font-weight: 100;
    margin-left:15px;
    color: #838383;


}

/*#feed_title2{*/

    /*width:90px;*/
    /*height:40px;*/
    /*font-weight: 200;*/
    /*color: #ffffff;*/
    /*float:left;*/
    /*margin-top:15px;*/
    /*position:relative;*/
    /*float:left*/
/*}*/



#feed_content {

    font-size:14px;
    color: #fefefe;
    margin-top:10px;
    margin-left: 15px;
    /*background-color:rgba(249, 178, 104, 1);;*/
    overflow: hidden;

}

.handle {

    display:inline;
    color: #dadada;

}

.tweet_content {

    display:inline;


}

.notification {

    margin-bottom: 10px;
    min-height:0px;
    //border-bottom:1px solid white;

}

#notifyGradient {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    /*background-color: white;*/
    /*background: -webkit-linear-gradient(*/
            /*rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%*/
    /*);*/
    /*background: linear-gradient(*/
            /*rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%*/
    /*);*/
    /*filter: alpha(*/
            /*Opacity=0, FinishOpacity=100, Style=1, StartX=0, StartY=0, FinishX=0, FinishY=500*/
    /*);*/
}